<div class="sidebar">

    <h4>SIDEVA9</h4>

    <a href="/pages/dashboard.html">
        Dashboard
    </a>

    <a href="/pages/packages.html">
        Packages
    </a>

    <a href="/pages/price-surveys.html">
        Survey Harga
    </a>

    <a href="/pages/package-documents.html">
        Dokumen
    </a>

    <a href="/pages/hps.html">
        HPS
    </a>

    <hr>

    <a href="/pages/bidangs.html">
        Bidang
    </a>

    <a href="/pages/budget-accounts.html">
        Rekening
    </a>

</div>